blinker==1.4
certifi==2018.10.15
chardet==3.0.4
Click==7.0
coverage==4.5.1
Flask==1.0.2
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.3.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
numpy==1.15.4
pkg-resources==0.0.0
psycopg2==2.7.5
requests==2.20.0
scipy==1.1.0
selenium==3.141.0
SQLAlchemy==1.2.13
urllib3==1.24.1
Werkzeug==0.15.3
