.navbar-custom {
    background-color: #000000;
    border-color: #00000;
    height: 40px;
}

.nav-link:link {
    padding-right: 1em;
    padding-top: 1em;
    font-size: 125%;
    color: pink;
}

.centered {
    font-size: 1000%;
    margin: auto;
    color:pink;
}

.main {
    margin-top: 200px;
}