{% extends 'base.html' %}

{% block title %}Moodify{% endblock %}

{% block content %}
    
    <div class="container-fluid text-center light-text">
        <div class="row main">
            <div class="col-sm-12">
                <div class="about">
                    <h1> Moodify uses the Spotify API to generate mood-based playlists. </h1>
                    <p>Once authorized, Moodify gathers and stores a users listening history in a database along with information for three audio features: danceability, energy, and valence. In order to uniformly segment the data provided by Spotify, Moodify normalizes the audio feature data for each user and an algorithm is applied to the normalized values to create a playlist with tracks specific to the user and their current mood. Once the playlist is created, the users can then view and play their playlist through Spotify as well as Moodify itself.</p>
                </div>
                <b><a href="/" class="button">Go Back</a>
            </div>
        </div>
    </div>
{% endblock %}