<!DOCTYPE html>
<html>

    <head>

        <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
        
        <link href="../static/css/base.css" rel="stylesheet">
        <link href="../static/css/homepage.css" rel="stylesheet">
    
    </head>

    <body>

        {% for message in get_flashed_messages() %}
                    {{ message }}
        {% endfor %}

        {% block content %}BODY CONTENT GOES HERE{% endblock %}
        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
        <script src="http://unpkg.com/babel-standalone"></script>

    </body>
    
</html>