{% extends 'base.html' %}

{% block title %}Moodify{% endblock %}

{% block content %}
    
    <div class="container-fluid text-center">
        <div class="row created-main">
            <div class="col-sm-12">
                <div class="centered-header"> YOUR PLAYLIST HAS BEEN CREATED </div>
                <button type="button" class="btn btn-secondary moodify" onclick="location.href = '/playlist-player'">Play on Moodify </button>
                <input type="button" value="Play on Spotify" class="btn btn-secondary spotify" onclick="window.location.href='{{spotify_play}}'"/>
            </div>
        </div>
    </div>
    
{% endblock %}