{% extends 'base.html' %}

{% block title %}Mood{% endblock %}

{% block content %}
    
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col">
                <h1 class="mood-header"> WHAT MOOD ARE YOU IN? </h1>
            </div>
        </div>
            <form action = "/playlist">
                <div class="row">
                    <div class="col">
                        <input type='text' id='name' name="name" placeholder='Name your playlist here' required="true">
                    </div>
                </div>
                    <div class="row">
                        <div class="col">
                            <div><img class="icon" src="../static/images/moodify.png" height="450" width="450"></div>
                        </div>
                    </div>
                    <div class=row">
                        <div class="col">
                            <div class='slidecontainer'>
                                <input type='range' class='slider' id='mood' name='mood' step='0.01' min='0' max='1' required>
                            </div>
                        </div> 
                    </div>
                    <div class=row">
                        <div class="col">
                            <span class="drag"> (Drag to select mood) </span>
                        </div>
                    </div>
                    <div class="col">
                        <input type="submit" class="btn btn-secondary submit">
                    </div>
            </form>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    const mood = $("#mood");
    const icon = $("img");

    mood.on("input", (e) => {
        let moodValue = parseFloat(mood.val());

        if (moodValue <= 0.15) {
            icon.attr("src", "../static/images/depressed.png");
        } else if (moodValue <= 0.50) {
            icon.attr("src", "../static/images/sad.png");
        } else if (moodValue <= 0.85) {
            icon.attr("src", "../static/images/happy.png");
        } else {
            icon.attr("src", "../static/images/elated.png"); 
        }
    }); 
    
</script>
{% endblock %}
