{% extends 'base.html' %}

{% block title %}Playlist{% endblock %}

{% block content %}

<div id='root'></div>

<script src="static/App.js" type="text/babel"></script>
<script src="static/Player.js" type="text/babel"></script>
<script src="static/Playlist.js" type="text/babel"></script>
<script src="static/Song.js" type="text/babel"></script>

<script type="text/babel">

const tracks = JSON.parse('{{ playlist_tracks|tojson }}');

ReactDOM.render(
    <App tracks={tracks} />,
    document.getElementById('root')
);


</script>



{% endblock %}
