{% extends 'base.html' %}

{% block title %}Playlist{% endblock %}

{% block content %}

<b><a href="/" class="button">Create New Playlist</a>

<b><a href = "/logout" class='"button'>Log Out</a>

<div id='root'></div>

<script src="../static/js/App.js" type="text/babel"></script>
<script src="../static/js/Player.js" type="text/babel"></script>
<script src="../static/js/Playlist.js" type="text/babel"></script>
<script src="../static/js/Song.js" type="text/babel"></script>
<script src="https://sdk.scdn.co/spotify-player.js"></script>

<script type="text/babel">
 
const accessToken = JSON.parse('{{ token|tojson }}');
const name = JSON.parse('{{ name|tojson }}');

ReactDOM.render(
    <App 
    token={accessToken}
    name={name}
    />,
    document.getElementById('root')
);


</script>

{% endblock %}
